<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Malaysian Parliament BillWatcher{% endblock %}</title>
    <meta name="description" content="Collection of bills debated in Malaysian Parliament">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block ogp %}{% endblock %}

    <link rel="alternate" href="{{request.route_url('feed.list')}}" type="application/rss+xml" title="RSS Feeds" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{{request.static_url('billwatcher:static/css/main.css')}}" rel="stylesheet">
    {% block css %}{% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
	<a class="navbar-brand" href="{{request.route_url('home')}}">BillWatcher</a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
	  <ul class="nav navbar-nav">
            <li>
              <a href="{{request.route_url('bill.list')}}">Bills</a>
            </li>
	    {% block links %}{% endblock %}
	  </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{request.route_url('feed.list')}}">
                <i class="fa fa-rss fa-lg"></i>
                Subscribe
              </a>
            </li>
          </ul>
          {% if request.url != request.route_url('home') %}
	  <form method="GET" action="{{request.route_url('search')}}" class="navbar-form navbar-right" role="search">
            <div class="input-group">
	      <input type="text" name="search" class="form-control" placeholder="Search for Bill here" value="{{request.params.get('search', '')}}">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Go</button>
              </span>
            </div>
	  </form>
          {% endif %}
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <dl>
              <dt>Funded by</dt>
              <dd>
                <a href="http://isif.asia/" title="isif asia">
                  <img src="{{request.static_url('billwatcher:static/img/isif.png')}}" alt="isif asia" />
                </a>
              </dd>
            </dl>
            <dl>
              <dt>The Team</dt>
              <dd><a href="https://github.com/sweemeng">Swee Meng</a></dd>
              <dd><a href="https://github.com/klrkdekira">Chee Leong</a></dd>
            </dl>
          </div>
          <div class="col-xs-6 col-md-4">
            <dl>
              <dt>Who we are</dt>
              <dd>
                <img id="sinar-logo" src="{{request.static_url('billwatcher:static/img/sinar.png')}}" alt="Sinar Project" />
                <br />
                We are a group of concerned Citizen that hope to see more transparency in government.
              </dd>
            </dl>
          </div>
          <div class="col-xs-12 col-md-4">
            <dl>
              <dt>Contacts</dt>
              <dd>Email: <a href="mailto:info@sinarproject.org">info@sinarproject.org</a></dd>
              <dd>
                Twitter: <a href="https://twitter.com/sinarproject" id="twitter-link" class="twitter-follow-button" data-show-count="false">Follow @sinarproject</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </dd>
            </dl>
            <dl>
              <dt>This is an open source project</dt>
              <dd>Our source code is on GitHub, you can help us by forking and contributing codes or reporting bugs to us.</dd>
              <dd>
                <ul id="github-links" class="pull-left list-inline">
                  <li>
	            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=klrkdekira&repo=BillWatcher-2.0&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                  </li>
                  <li>
	            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=klrkdekira&repo=BillWatcher-2.0&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-29734766-2', 'auto');
  ga('send', 'pageview');

</script>
    <script src="{{request.static_url('billwatcher:static/js/plugins.js')}}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
