{% extends "template.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-2 sidebar">
        <div class="panel-group" id="accordion">          
          <div class="panel panel-primary">
            <div class="panel-heading">
              Year
              <a data-toggle="collapse" data-parent="#accordion" href="#year-panel">
                <i class="fa fa-chevron-down pull-right"></i>
              </a>
            </div>
            <div id="year-panel" class="list-group panel-collapse collapse out">
              {% for y in years %}
              <a href="{{request.route_url('bill.list', _query={'year': y['_id'], 'page': data.page})}}" class="list-group-item">
                <span class="badge">{{y['count']}}</span>
                {{y['_id']}}
              </a>
              {% endfor %}
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              Status
              <a data-toggle="collapse" data-parent="#accordion" href="#status-panel">
                <i class="fa fa-chevron-down pull-right"></i>
              </a>
            </div>
            <div id="status-panel" class="list-group panel-collapse collapse out">
              {% for s in statuses %}
              <a href="{{request.route_url('bill.list', _query={'status': s['_id'], 'page': data.page})}}" class="list-group-item">
                <span class="badge">{{s['count']}}</span>
                {{s['_id'].capitalize()}}
              </a>
              {% endfor %}
            </div>            
          </div>
        </div>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <h4 class="pull-left">Parliament Bills</h4>
        <div id="pager" class="pull-right">
          {{data.pager(format='$link_first $link_previous ~2~ $link_next $link_last')}}
        </div>
        <table id="bill-list" class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>Code</th>
              <th>Bill</th>
              <th>Status</th>
              <th>Year</th>
            </tr>
          </thead>
          <tbody>
            {% for bill in data.items %}
            <tr>
              <td>{{bill.name}}</td>
              <td>
                <a href="{{request.route_url('bill.detail', bill_id=bill._id)}}">
                  {{bill.description}}
                </a>
              </td>
              <td>{{bill.status.capitalize() if bill.status}}</td>
              <td>{{bill.year or ''}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>      
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{{request.static_url('billwatcher:static/js/main.js')}}"></script>
{% endblock %}
