{% extends "template.html" %}
{% block title %}{{bill['name']}} - {{bill['description']}}{% endblock %}
{% block css %}
<style>
.fb-comments, .fb-comments span[style], .fb-comments iframe[style] {width: 100% !important;}
#social > div {margin-top: 5px}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3 sidebar">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Detail
          </div>
          <div class="panel-body">
            <dl>
	      <dt>Code:</dt><dd>{{bill['name']}}</dd>
	      <dt>Name:</dt><dd>{{bill['description']}}</dd>
	      <dt>Year:</dt><dd>{{bill['year'] or ''}}</dd>
	      <dt>Status:</dt><dd>{{bill['status'].capitalize() if bill['status']}}</dd>
              <dt>Presented by:</dt><dd>{{bill['presented_by']}}</dd>
            </dl>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            History
          </div>
          <div class="panel-body">
            <dl>
	      <dt>First Reading:</dt><dd>{{bill['history']['first_reading']}}</dd>
	      <dt>Second Reading:</dt><dd>{{bill['history']['second_reading']}}</dd>
	      <dt>Passed At:</dt><dd>{{bill['history']['passed_at']}}</dd>
            </dl>
          </div>
        </div>
        <a class="btn btn-primary" href="{{request.route_url('bill.doc', bill_id=bill['_id'])}}">Can't view? Download here</a>
      </div>
      <div class="col-md-6">
        <iframe id="document_file" frameborder="0" width="100%" data-src="{{request.route_url('bill.doc', bill_id=bill['_id'])}}"></iframe>
      </div>
      <div class="col-md-3" id="social">
        <a href="{{request.url}}" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a>
        <div class="fb-like" data-href="{{request.url}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <h3>Comments</h3>
        <hr />
        <div class="fb-comments" data-href="{{request.url}}" data-numposts="20" data-colorscheme="light"></div>        
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<div id="fb-root"></div>
<script defer="defer">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=APPID";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script defer="defer">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="{{request.static_url('billwatcher:static/js/bill_details.js')}}"></script>
<script defer="defer" src="{{request.static_url('billwatcher:static/js/vendor/pdf.js')}}"></script>
<script defer="defer">
  var iframe = $("iframe#document_file");
  iframe.attr("src", iframe.attr("data-src"));
</script>
{% endblock %}
