{% extends "template.html" %}
{% block content %}
<div class="container-fluid">
  <div class="sidebar col-sm-3">
    <ul class="nav nav-sidebar">
      <li class="active">The Team</li>
      <li>Developer</li>
      <li><a href="https://github.com/sweemeng">sweemeng</a></li>
      <li><a href="https://github.com/klrkdekira">cheeleong</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="container">
      <h1>Who We Are</h1>
      <img src="{{request.static_url('billwatcher:static/img/sinar.png')}}" alt="Sinar Project" />
      <p>We are a group of concerned Citizen that hope to see more transparency in govt.</p>

      <hr />

      <h2>Contacts</h2>
      <p>Email: <a href="mailto:sinarproject@gmail.com">sinarproject@gmail.com</a></p>
      <p>Twitter: <a href="https://twitter.com/sinarproject" class="twitter-follow-button" data-show-count="false">Follow @sinarproject</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

      <hr />

      <h2>This is an open source project</h2>
      <p>Our source code is on GitHub, you can help us by forking and contributing codes or reporting bugs to us.</p>
    </div>
  </div>
</div>
{% endblock %}
